<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async
            custom-element="amp-twitter"
            src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js">
    </script>
</head>
<body>
<h1 id="header"><%= title %></h1>
<div class="container">
    <form action="compare" id="radioButtons">
        <div class="row">
            <div class="col-md-1"><div class="radio">
                <label><input type="radio" name="optradio" value="clinton">Clinton</label>
            </div></div>
            <div class="col-md-1"><div class="radio">
                <label><input type="radio" name="optradio" value="obama">Obama</label>
            </div></div>
            <div class="col-md-1"><div class="radio">
                <label><input type="radio" name="optradio" value="bieber">Bieber</label>
            </div></div>
            <button id="searchBtn" class="btn btn-primary">Compare</button>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-6" id="feed">
        <div class="row" id="stats">
            <p class="col-md-6"id="pos1"></p>
            <p class="col-md-6"id="neg1"></p>
        </div>
        <ul id="tweets1" class="list-group"></ul></div>
    <div class="col-md-6" id="feed">
        <div class="row" id="stats">
                <p class="col-md-6"id="pos2"></p>
                <p class="col-md-6"id="neg2"></p>
        </div>
        <ul id="tweets2" class="list-group"></ul>
    </div>
</div>
<input type="hidden" id="userId" value="<%-userId%>"/>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/websocket.js"></script>
</html>
